* {
  box-sizing: border-box;
}

.ember-view, html, body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

main {
  max-width: 1400px;
  height: 80%;
  margin: 15px auto;
  clear: both;
  overflow: hidden;
}

header {
  font-family: 'Lobster Two', cursive;
  text-align: center;
  color: #1870a1;
  margin-top: 40px;
}

.md-input,
.html-output {
  float: left;
  height: 100%;
  width: 50%;
}

.md-input textarea {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.html-output {
  padding: 20px;
  border: 1px dashed #aaa;
}

/* typography */
html {font-size: 1em;}

body {
  line-height: 1.45;
  color: #333;
}

p {margin: 0;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}
